
.search {
    background-color: #fff;
    padding: 4px;
    border-radius: 5px
}

.search-1 {
    position: relative;
    width: 100%
}

    .search-1 input {
        height: 45px;
        border: none;
        width: 100%;
        padding-left: 12px;
        padding-right: 10px;
        border-right: 2px solid #006dcc
    }

        .search-1 input:focus {
            border-color: none;
            box-shadow: none;
            outline: none
        }

    .search-1 i {
        position: absolute;
        top: 12px;
        left: 5px;
        font-size: 24px;
        color: #eee
    }

::placeholder {
    color: #eee;
    opacity: 1
}

.search-2 {
    position: absolute;
    width: 100%
}

    .search-2 input {
        height: 45px;
        border: none;
        width: 100%;
    
    }

        .search-2 input:focus {
            border-color: none;
            box-shadow: none;
            outline: none
        }

    .search-2 i {
        position: absolute;
        top: 10px;
        left: 5px;
        font-size: 15px;
        color: #eee
    }

    .search-2 button {
        position: absolute;
        right: 1px;
        top: 0px;
        border: none;
        height: 45px;
        background-color: #688edc;
        color: #fff;
        width: 90px;
        border-radius: 4px
    }

@media (max-width:1200px) {
    .search-1 input {
        border-right: none;
        border-bottom: 1px solid #006dcc
    }

    .search-2 i {
        left: 1px
    }

    .search-2 input {
        padding-left: 24px
    }

    .search-2 button {
        height: 37px;
        top: 5px
    }
}
